{% extends "DRTC/drtc_base.html" %}

{% block drtc_content %}
	<p>Don't Read The Comments! is a browser extension which hides comment sections.  It's configurable to work with any site and comes with settings for many sites built-in. DRTC! is available in beta for Chrome:</p>
	<a href="https://chrome.google.com/webstore/detail/dont-read-the-comments/nlhmhpppjnlbdfgebinkgjiljipnejbe" target="_blank"><img class="center" src="{{ url_for('static', filename='img/DRTC/ChromeWebStore_Badge_v2_340x96.png') }}"></a>
	<p>And Firefox:</p>
	<a href="https://addons.mozilla.org/en-US/firefox/addon/dont-read-the-comments/" target="_blank"><img class="center" src="{{ url_for('static', filename='img/DRTC/firefox-logo.png') }}"></a>
	<p>This page is an overview of DRTC!'s features and capabilities. For more details, check out the <a href="/drtc/help">help</a> page. To learn how to create custom profiles for websites DRTC! doesn't know about yet, see the <a href="/drtc/profile_tutorial" target="_blank">profile tutorial</a>.</p>

	<div id="cover_section" class="section-head">
		<h2>DRTC! In Action</h2>
	</div>
	<div class="section">
		<img class="full_width" src="{{ url_for('static', filename='img/DRTC/chrome/section_hidden.png') }}">
		<p>DRTC! works by simply placing an opaque cover over the comments section of the page you're viewing. The comments are still there; if you want to see them you can click the <strong>Show</strong> control in the top right.</p>
		<img class="full_width" src="{{ url_for('static', filename='img/DRTC/chrome/all_comments_covered.png') }}">
		<p>DRTC! can also be set to hide individual comments, and optionally show the less profane or abusive ones.</p>
	</div>

	<div id="philosophy_section" class="section-head">
		<h2>Don't Read the Comments! Philosophy</h2>
	</div>
	<div class="section">
		<p>DRTC! is not about censorship. When used to control information consumption on a large scale, censorship is an impediment to freedom, and is ultimately futile. Censorship is a load of bollocks.</p>
		<p>Individuals have a right to control for themselves what information they consume, as well as what they choose not to consume. It's become very fashionable, very Web 2.0, to include social features in every website big enough to support them. At best, they're unproductive, being beside the point of whatever main content you've come to see; at worst they are infested with trolls and acrimonious name-calling.</p>
		<p>Don't Read The Comments! came out of an offhand remark I once made about how I often unconsciously scroll down to read comments, even though I know I'll regret it. DRTC! is intended to put an additional layer of decision between the habitual scroller and the waste of attention that awaits.</p>
	</div>

	<div id="about_section" class="section-head">
		<h2>About</h2>
	</div>
	<div class="section">
		<p>DRTC! was created by <a href="https://github.com/drestuart/">Dan Stuart</a> in December 2014, and released sometime in the future. It is licensed under GPLv3. <a href="https://github.com/drestuart/dont-read-the-comments">Github</a></p>
	</div>
{% endblock %}
