{% extends "coldbrew_base.html" %}

{% block metas %}
{{ super() }}
<meta property="og:title" content="Don't Read The Comments!"/>
<meta property="og:description" content="Don't Read The Comments!" />
<meta property="og:url" content="http://www.coldbrewsoftware.com/drtc" />
<meta property="og:image" content="http://www.coldbrewsoftware.com/static/img/DRTC/logo_drtc.png" />
{% endblock %}

{% block title %}Don't Read The Comments! &mdash; Coldbrew Software{% endblock %}

{% block page_content %}
<div class="page-header">
	<img class="full_width" src="{{ url_for('static', filename='img/DRTC/pro-tile-marquee-2.png') }}">
</div>
<div class="page-body">
	{% block drtc_content %}{% endblock %}
</div>
{% endblock %}
