body {
	background: #aaa;
}

div.page_content, div.navbar {
	width: 700px;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
}

div.page_content {
	margin-bottom: 30px;
	background: white;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
}

.nav a:hover {
}