body {
	background: #aaa;
}

div.page_content, div.navbar, div.banner {
	width: 700px;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
}

div.banner img {
	width: 100%;
}

div.navbar > div.container {
	width: 700px;
	padding-right: 0;
}

div.navbar > div.container div {
	padding: 0;
}

div.page_content {
	margin-bottom: 30px;
	background: white;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
}

.nav a:hover {
}

.navbar-nav {
	float: right;
}