#comments {
	background: lightblue;
	width: 500px;
	padding: 10px;
}
#comments div.comment {
	color: #666;
	background: lightgrey;
	margin: 10px;
	padding: 10px;
}
#page {
	/*background: lightblue;*/
}