{% extends "base.html" %}

{% block page_content %}
<div class="page-header">
    <h1>About</h1>
</div>

<img id="sexyface" src="{{ url_for('static', filename='img/sexyface.jpg') }}" alt="sexy face" title="sexy face"/>

<div>
	<p>Coldbrew Games is my brand for my spare-time game projects.</p>

	<p>I planned to be a scientist from age 5 until grad school. I started programming in 2008, and made a career out of it about a year later. Since then I've found that even the worst day as a code monkey is slightly better than the best day as an academic.</p>

	<p>In my spare time I'm developing Chronicles of Ériu, which will be out sometime before the next ice age.</p>
</div>
{% endblock %}
