{% extends "coldbrew_base.html" %}

{% block metas %}
{{ super() }}
<meta property="og:title" content="About"/>
<meta property="og:description" content="Home of Chronicles of Ériu" />
<meta property="og:url" content="http://www.coldbrewsoftware.com" />
<meta property="og:image" content="http://www.coldbrewsoftware.com/static/img/avatar-consolas.png" />
{% endblock %}

{% block title %}About &mdash; Coldbrew Software{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>About Me</h1>
</div>



<figure class="left">
    <img id="sexyface" src="{{ url_for('static', filename='img/sexyface.jpg') }}" alt="sexyface" title="sexyface"/>
    <figcaption>Yours truly</figcaption>
</figure>

<div class="page-body">
	<p>Coldbrew Software is my brand for my fun spare-time programming projects.</p>

	<p>I started programming in 2008 during a quixotic run at physics grad school. I made a career out of it about a year later. Since then I've found that even the worst day as a code monkey is slightly better than the best day as an academic.</p>

	<p>Usability is my other favorite hobby. I think there are very few situations where an object should make a person feel bad for failing to operate it. Most people I meet will eventually get my talk about the usability of various door handles.</p>

	<p>When I'm not doing anything in particular I'm usually thinking about one of the game concepts I've come up with. Many of these will never see the light of day, but it's good practice if nothing else.</p>

	<p><a href="/drtc">Don't Read The Comments!</a> is currently my main project. DRTC! started as a crazy idea I once had about how I often unconsciously scroll down to read comments, even though I know I'll regret it, and wouldn't it be great to have a browser extension to stop me. Then I realized it wasn't a crazy idea at all, and that no one had yet developed such a thing.</p>

	<p>My longer-term project is <a href="/eriu">Chronicles of Ériu</a>, a roguelike RPG set in an anachronistic ancient Ireland. With Chronicles of Ériu I hope to capture the texture and atmosphere of Irish mythology and heroic stories, and explore the possibilities for procedural generation of quests and goals.</p>
</div>
{% endblock %}
