{% extends "base.html" %}

{% block page_content %}
<div class="page-header">
    <h1>About</h1>
</div>

<img id="sexyface" src="{{ url_for('static', filename='img/sexyface.jpg') }}" alt="sexy face" title="sexy face"/>

<div>
	<p>Coldbrew Games is my brand for my game projects.</p>

	<p>I planned to be a scientist from age 5 until grad school. I started programming in 2008, and made a career out of it about a year later. Since then I've found that even the worst day as a code monkey is slightly better than the best day as an academic.</p>

	<p>Usability is my other great passion. When I meet someone new I will eventually give them my talk about the usability of various door handles. It means I'm comfortable enough to get really weird about doors.</p>

	<p>When I'm not doing anything in particular I'm usually thinking about one or more of the game concepts I've come up with. Many of these will never see the light of day, but it's good practice if nothing else.</p>

	<p>In my spare time I'm developing Chronicles of Ériu, which will be out sometime before the next ice age.</p>
</div>
{% endblock %}
