{% extends "bootstrap/base.html" %}
{% import "bootstrap/google.html" as google %}

{% block scripts %}
    {{super()}}
    {{google.analytics(account="UA-50706127-1")}}
{% endblock %}

{% block title %}Coldbrew Software{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
<!-- barracuda domain verification --> <meta name="barracuda-site-verification" content="115820a809b0d7d846fbaa0e1412aa64" />
{% block twitter_og %}{% endblock %}
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
{% endblock %}

{% block content %}
<div class="container page_content">
    <div class="main_content">
        {% block page_content %}{% endblock %}
    </div>
    {% block footer %}
    <div class="footer">
        <div class="sm_icons">
            <a href="https://www.facebook.com/pages/Coldbrew-Software/286609531504706" target="_blank"><img src="{{ url_for('static', filename='img/facebook.png') }}" alt=""/></a>
            <a href="http://coldbrewsoftware.tumblr.com/" target="_blank"><img src="{{ url_for('static', filename='img/tumblr.png') }}" alt=""/></a>
        </div>
        <p>&copy; 2015 Coldbrew Software and Dan Stuart. Coldbrew Software is me. <br>All rights reserved.</p>
    </div>
    {% endblock %}
</div>
{% endblock %}

