{% extends "base.html" %}

{% block metas %}
{{ super() }}
<meta property="og:site_name" content="Coldbrew Software"/>
<meta property="og:type" content="website"/>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/base.js') }}"></script>
{% endblock %}

{% block navbar %}
<img src="{{ url_for('static', filename='img/avatar-verdana.png')}}" style='display:none'>
{% block banner %}
<div class="banner">
    <a href="/"><img src="{{ url_for('static', filename='img/banner.png') }}" alt="colbrew logo"/></a>
</div>
{% endblock %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand nav-link" href="/">Home</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a class="nav-link" target="_blank" href="http://blog.coldbrewsoftware.com">Blog</a></li>
                <li><a class="nav-link" href="{{ url_for('drtc') }}">DRTC!</a></li>
                <li><a class="nav-link" href="{{ url_for('eriu') }}">Ériu</a></li>
                <li><a class="nav-link" href="{{ url_for('about') }}">About Me</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

