{% extends "base.html" %}

{% block twitter_og %}
<!-- Facebook OpenGraph metadata -->
<meta property="og:site_name" content="Coldbrew Software"/>
<meta property="og:type" content="website"/>
<meta property="og:description" content="Home of Don't Read The Comments! and Chronicles of Ériu"/>
<meta property="og:url" content="http://www.coldbrewsoftware.com"/>
<meta property="og:image" content="http://www.coldbrewsoftware.com/static/img/coldbrew-opengraph-card.png"/>

<!-- Twitter card metadata -->
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="@drestuart"/>
<meta name="twitter:creator" content="@drestuart"/>
<meta name="twitter:title" content="Coldbrew Software">
<meta name="twitter:description" content="Home of Don't Read The Comments! and Chronicles of Ériu"/>
<meta name="twitter:image" content="http://www.coldbrewsoftware.com/static/img/logo-verdana.png"/>
<meta name="twitter:url" content="http://www.coldbrewsoftware.com"/>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/base.js') }}"></script>
{% endblock %}

{% block navbar %}
<img src="{{ url_for('static', filename='img/avatar-verdana.png')}}" style='display:none'>
{% block banner %}
<div class="pw">
    <!-- Project Wonderful Ad Box Code -->
    <div style="text-align:center;"><div style="display:inline-block;" id="pw_adbox_76480_5_0"></div></div>
    <script type="text/javascript"></script>
    <noscript><div style="text-align:center;"><div style="display:inline-block;"><map name="admap76480" id="admap76480"><area href="http://www.projectwonderful.com/out_nojs.php?r=0&c=0&id=76480&type=5" shape="rect" coords="0,0,728,90" title="" alt="" target="_blank" /></map>
    <table cellpadding="0" cellspacing="0" style="width:728px;border-style:none;background-color:#ffffff;"><tr><td><img src="http://www.projectwonderful.com/nojs.php?id=76480&type=5" style="width:728px;height:90px;border-style:none;" usemap="#admap76480" alt="" /></td></tr><tr><td style="background-color:#ffffff;" colspan="1"><center><a style="font-size:10px;color:#0000ff;text-decoration:none;line-height:1.2;font-weight:bold;font-family:Tahoma, verdana,arial,helvetica,sans-serif;text-transform: none;letter-spacing:normal;text-shadow:none;white-space:normal;word-spacing:normal;" href="http://www.projectwonderful.com/advertisehere.php?id=76480&type=5" target="_blank">Ads by Project Wonderful!  Your ad here, right now: $0</a></center></td></tr></table></div></div>
    </noscript>
    <!-- End Project Wonderful Ad Box Code -->
</div>
{% endblock %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-brand-container">
                <a class="navbar-brand nav-link" href="/">Home</a>
            </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a class="nav-link" target="_blank" href="http://blog.coldbrewsoftware.com">Blog</a></li>
                <li><a class="nav-link" href="{{ url_for('drtc') }}">DRTC!</a></li>
                <li><a class="nav-link" href="{{ url_for('eriu') }}">Ériu</a></li>
                <li><a class="nav-link" href="{{ url_for('about') }}">About Me</a></li>
            </ul>
        </div>
        {% block subnav %}{% endblock %}
    </div>
</div>
{% endblock %}

{% block bottom_ad %}
<div class="pw">
    <!-- Project Wonderful Ad Box Code -->
    <div style="text-align:center;"><div style="display:inline-block;" id="pw_adbox_76513_6_0"></div></div>
    <script type="text/javascript"></script>
    <noscript><div style="text-align:center;"><div style="display:inline-block;"><map name="admap76513" id="admap76513"><area href="http://www.projectwonderful.com/out_nojs.php?r=0&c=0&id=76513&type=6" shape="rect" coords="0,0,234,60" title="" alt="" target="_blank" /></map>
    <table cellpadding="0" cellspacing="0" style="width:244px;border-style:none;background-color:#ffffff;"><tr><td><img src="http://www.projectwonderful.com/nojs.php?id=76513&type=6" style="width:244px;height:60px;border-style:none;" usemap="#admap76513" alt="" /></td></tr><tr><td style="background-color:#ffffff;" colspan="1"><center><a style="font-size:10px;color:#0000ff;text-decoration:none;line-height:1.2;font-weight:bold;font-family:Tahoma, verdana,arial,helvetica,sans-serif;text-transform: none;letter-spacing:normal;text-shadow:none;white-space:normal;word-spacing:normal;" href="http://www.projectwonderful.com/advertisehere.php?id=76513&type=6" target="_blank">Ads by Project Wonderful!  Your ad here, right now: $0</a></center></td></tr></table></div></div>
    </noscript>
    <!-- End Project Wonderful Ad Box Code -->
</div>
{% endblock %}
