{% extends "coldbrew_base.html" %}

{% block twitter_og %}
<!-- Facebook OpenGraph metadata -->
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="Chronicles of Ériu"/>
<meta property="og:description" content="Chronicles of Ériu is an in-development indie roguelike set in ancient Ireland"/>
<meta property="og:url" content="http://www.coldbrewsoftware.com/eriu"/>
<meta property="og:image" content="http://www.coldbrewsoftware.com/static/img/eriu.png"/>

<!-- Twitter card metadata -->
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="@drestuart"/>
<meta name="twitter:creator" content="@drestuart"/>
<meta name="twitter:description" content="Chronicles of Ériu is an in-development indie roguelike set in ancient Ireland"/>
<meta name="twitter:image" content="http://www.coldbrewsoftware.com/static/img/eriu.png"/>
<meta name="twitter:url" content="http://www.coldbrewsoftware.com/eriu"/>
{% endblock %}

{% block title %}Chronicles of Ériu &mdash; Coldbrew Software{% endblock %}

{% block page_content %}
<div class="page-header">
    <img id="eriu_title" class="full_width" src="{{ url_for('static', filename='img/eriu.png') }}" alt="Chronicles of Ériu"/>
</div>

<div class="page-body">
	<!-- <p>A low-magic roguelike RPG in an anachronous mythological Irish setting.</p> -->
	<p>A low-magic roguelike RPG in the style of Irish legends.</p>
	<p> You are a hero in ancient Ireland, roaming the land to gain fame or wealth.</p>
	<p><a href="http://coldbrewsoftware.tumblr.com/">Development Blog</a></p>
	<div class="section-head">
		<h2>The Land of Ériu</h2>
	</div>
	<div class="section">
		<p>A civilization divided among the five warring kingdoms of men.</p>
		<p>An island populated by ancient creatures and potent mysteries.</p>
		<p></p>
	</div>

	<div class="section-head">
		<h2>People of Ériu</h2>
	</div>
	<div class="section">
		<h4>Men</h4>
		<div class="subsection">
			<p>The kingdoms of men &mdash; Ulaid, Connacht, Leinster, Munster, and Mide &mdash; and their gods are recent arrivals to Ériu, and have yet to eject the previous inhabitants. Compared to the other races, men breed, live, and die at a startling speed.</p>
		</div>
		<h4>Sidhe</h4>
		<div class="subsection">
			<p>No one knows how or when the Fair Folk came to Ériu. They prefer to live hidden from the eyes of men, but have been known to play tricks or work charms on mortals &mdash; some harmless, some less so. The sidhe are roughly divided into the Seelie and Unseelie Courts, but the distinction is often lost on outsiders.</p>
		</div>
		<h4>Fir Bolg</h4>
		<div class="subsection">
			<p>A monstrous race led by their king Eochaid, the Fir Bolg were driven from Ériu by the armies of men and the Tuatha Dé Danann. Some remained, however, and fled into the dark places of the land. The new king Sreng plots their return to power over their ancient homeland.</p>
		</div>
		<h4>Fomoire</h4>
		<div class="subsection">
			<p>The first rulers of Ériu, the Fomoire are said to be older than the land itself. Hideous giants, great in strength and skilled in dark, ancient magic, the Fomoire rival the Tuatha Dé themselves. Fortunately few of the Fomoire remain in Ériu.</p>
		</div>
		<h4>Tuatha Dé Danann</h4>
		<div class="subsection">
			<p>The Tuatha Dé, the gods of men, have rarely been seen since they displaced the Fir Bolg and vanquished the Fomoire.</p>
		</div>
	</div>

	<div class="section-head">
		<h2>Dynamic Quest System</h2>
	</div>
	<div class="section">
		<p>Choose your path:</p>
		<ul>
			<li>Raise an army to destroy your enemies</li>
			<li>Gain fame and wealth so that your name will live in legend</li>
			<li>Lift an ancient curse from your family line</li>
			<li>Travel to a holy site to work a great spell</li>
		</ul>
		<p>Use your fame and wealth to recruit NPCs to your cause.</p>
		<p>As your power and reputation grow, unlock new quests to help you toward your main goal.</p>
	</div>

	<div class="section-head">
		<h2>Chronicle Your Deeds</h2>
	</div>
	<div class="section">
		<p>Though the land changes for every new game, your past deeds live on in rumor, song, and legend.</p>
		<p>Share the tale of your adventures through the Online Chronicles.</p>
	</div>


</div>



{% endblock %}
