{% extends "coldbrew_base.html" %}

{% block metas %}
{{ super() }}
<meta property="og:title" content="Home"/>
<meta property="og:description" content="Home of Chronicles of Ériu" />
<meta property="og:url" content="http://www.coldbrewsoftware.com" />
<meta property="og:image" content="http://www.coldbrewsoftware.com/static/img/avatar-consolas.png" />
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Coldbrew Software</h1>
</div>

<div class="page-body">
	<p>Home of my awesome side projects &mdash;</p>
	<div class="section-head">
		<h2><a href="/drtc" target="_blank">Don't Read The Comments!</a></h2>
	</div>
	<div class="section">
		<a href="/drtc" target="_blank"><img class="full_width" src="{{ url_for('static', filename='img/DRTC/pro-tile-marquee-2.png') }}"></a>
		<p><a href="/drtc" target="_blank">Don’t Read The Comments!</a> is a browser extension which hides comment sections.  It’s configurable to work with any site and comes with settings for many sites built-in. Beta versions are currently available for Chrome &mdash;</p>
		<a href="https://chrome.google.com/webstore/detail/dont-read-the-comments/nlhmhpppjnlbdfgebinkgjiljipnejbe" target="_blank"><img class="center" src="{{ url_for('static', filename='img/DRTC/ChromeWebStore_Badge_v2_340x96.png') }}"></a>
		<p>And Firefox &mdash;</p>
		<a href="https://addons.mozilla.org/en-US/firefox/addon/dont-read-the-comments/" target="_blank"><img class="center" src="{{ url_for('static', filename='img/DRTC/firefox-logo.png') }}"></a>
	</div>

	<div class="section-head">
		<h2><a href="/eriu">Chronicles of Ériu</a></h2>
	</div>
	<div class="section">
		<a href="/eriu"><img id="eriu_title" class="full_width" src="{{ url_for('static', filename='img/eriu.png') }}" alt="Chronicles of Ériu"/></a>
		<p>A low-magic roguelike RPG in the style of Irish legends.</p>
		<a href="/eriu"><img id="map" class="center" src="{{ url_for('static', filename='img/worldmap.png') }}" alt="eriu world map" title="Rivers, bitch"/></a>
	</div>
</div>
{% endblock %}
