{% extends "coldbrew_base.html" %}

{% block page_content %}
<div class="page-header">
    <h1>Coldbrew Games</h1>
</div>

<div class="page-body">
	<p>Home of &#8230;</p>
	<div class="section-head">
		<h2><a href="/eriu">Chronicles of Ériu</a></h2>
	</div>
	<div class="section">
		<a href="/eriu"><img id="eriu_title" class="full_width" src="{{ url_for('static', filename='img/eriu.png') }}" alt="Chronicles of Ériu"/></a>
		<p>A low-magic roguelike RPG in the style of Irish legends.</p>
		<a href="/eriu"><img id="map" class="center" src="{{ url_for('static', filename='img/worldmap.jpg') }}" alt="eriu world map" title="Rivers, bitch"/></a>
	</div>
	<div class="section-head">
		<h2>And not much else.</h2>
	</div>
	<p>Yet.</p>
</div>
{% endblock %}
