{% extends "base.html" %}

{% block page_content %}
<div class="page-header">
    <h1>Resume!</h1>
</div>

<h2>Software Engineer</h2>
<div>
</div>

<h2>Core Competencies</h2>
<div>
	<ul>
		<li>Disseminate Complex Language</li>
		<li>Expert in Software Programming and User Interface Design</li>
		<li>Human/Computer Interaction</li>
		<li>Machine-Learning Algorithms</li>
		<li>Data Mining</li>
		<li>Statistical Analysis</li>
		<li>Advanced Physics</li>
		<li>Git and SVN Version Control Systems</li>
		<li>Heuristic Evaluation</li>
		<li>User Surveys</li>
		<li>Formal Usability Testing</li>
		<li>Object-Oriented Programming - Java, Python, C++, PHP &amp; Perl</li>
		<li>Information Visualization</li>
		<li>Graphic Design/Adobe Illustrator</li>
		<li>Web Development</li>
		<li>Windows, Macintosh, Linux</li>
	</ul>
</div>

<h2>Professional Experience</h2>
<div>
	<p><span class="workplace">2011 to 2013: University of Michigan Comprehensive Cancer Center — Informatics Division, Ann Arbor, MI</span></p>
	<p><span class="jobtitle">Application Programmer/Analyst Associate – 2012 to 2013</span></p>
	<p><span class="jobtitle">Intern/Research Assistant – 2011</span></p>
	<ul>
		<li>Perform programming and debugging of front and back end Web applications development and database functionality utilizing Java with Spring framework and Tomcat 6 Web server, supporting data sharing and security for CORECT consortium comprised of 30 users.</li>
		<li>Implement data warehouse applications that include setup, monitoring and debugging of database, Web applications and ETL scripts.</li>
		<li>Completed various small Web application programming projects and application upgrade projects for small jsp-based applications for robust scalable Web applications with improved functionality and available database storage.</li>
	</ul>

	
</div>

{% endblock %}
